@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap');

/* font-family: 'Nothing You Could Do', cursive;
font-family: 'Poppins', sans-serif; */

:root {
    --black:#071108;
    --white: #F4F7F5;
}

html {
    font-family: 'Poppins', sans-serif;
}


body {
    /* background color and color are controlled in the dark/light stylesheet */
    margin: 0;
    min-width: 375px;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5em;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0px;
}

.homepage-header {
    margin-bottom: 48px;
}

nav {
    text-align: center;
}

    nav a {
        font-size: 1.8em;
        padding: 7px 30px;
        margin: 25px;
        font-family: 'Nothing You Could Do', cursive;
        display: inline-block;
    }

.black {
    border: 8px solid var(--black);
}

.white {
    border: 8px solid var(--white);
}

.outer-border {
    max-width: 500px;
    min-width: 329px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    margin-bottom: 45px;
}

.inner-border {
    border-width: 3px;
    border-radius: 15px;
    padding: 7px;
}

img {
    width: 90%;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

p {
    min-width: 350px;
    max-width: 500px;
    margin: 25px auto;
    font-size: 1.3em;
    line-height: 1.6;
    padding: 0 12px;
}

figure {
    min-width: 355px;
    max-width: 500px;
    margin: 45px auto;
    padding: 10px 0;
    border-radius: 15px;
    line-height: 1.8;
}

figcaption {
    text-align: right;
    margin-right: 45px;
}

a {
    /* background color and color are controlled in the dark/light stylesheet */
    cursor: pointer;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3em;
    padding: 10px 48px;
    display: block;
    width: fit-content;
    margin: 0 auto 45px;
    border-radius: 15px;
}

footer {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
}